.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
}

.item-1 {
    grid-row-start:1 ;
    grid-row-end: 1 ;
    grid-column-start: 1 ;
    grid-column-end: 1 ;
}

/*.item-2 {
    grid-area: 2 / 4 / 4 / 6;
    z-index: 1;
}

.item-3 {
    grid-row: ;
}